.md-typeset {
      line-height: 2;
    }

.md-typeset .katex-display,
.md-typeset .katex-display > .katex {
      font-size: 1em;
    }

:root {
    --md-code-font: 'JetBrains Mono', Consolas;
    --md-text-font: 'JetBrains Mono', 'LXGW WenKai Lite', 'LXGW WenKai', 'Noto Serif SC', 'Source Han Serif SC', serif;
    }