site_name: Reahill's Note
site_description: Reahill的大脑外置。
site_author: Reahill
site_url: https://reahill.github.io
repo_url: https://github.com/reahill/reahill.github.io

theme:
  name: material
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.top
    - navigation.sections
    - navigation.expand
    - search.highlight
    - search.suggest
    - toc.follow
    - content.code.highlight
    - content.code.copy
  palette:

    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: black
      accent: blue
      toggle:
        icon: material/weather-sunny
        name: 切换到深色模式

    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/weather-night
        name: 切换到系统自动模式
  language: zh
  icon:
    repo: fontawesome/brands/github
    logo: material/robot-confused-outline
    menu: material/menu
    close: material/close
    top: material/chevron-up
    previous: material/chevron-left
    next: material/chevron-right
  
extra_css:
  - stylesheets/fonts.css
  - stylesheets/mathjax.css
  - stylesheets/quest-panel.css
  - stylesheets/download-btn.css
  
extra_javascript:
  - javascripts/mathjax-lazy.js

markdown_extensions:  
  - admonition
  - tables
  - attr_list
  - def_list
  - footnotes
  - toc:
      permalink: true
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.snippets
  - pymdownx.magiclink
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true 
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.arithmatex:
      generic: true

plugins:
  - search  
  - statistics

nav:
  - 首页: 
    - index.md
    - 观前提示: preview.md
    - 数学公式测试: test/test_math.md
    - 下载测试: test/test_download.md
  - 数学: 
    - math/index.md
    - 微积分（甲）Ⅱ: math/calculus_2/index.md
  - 编程:
    - programming/index.md

docs_dir: docs
