.md-typeset {
      line-height: 2;
    }

.md-typeset .katex,
.md-typeset .katex-display {
  line-height: 1.2;
}

.md-typeset .katex-display {
  margin: 0.8em 0;
  overflow-x: auto;
  overflow-y: hidden;
}

:root {
    --md-code-font: 'JetBrains Mono', Consolas;
    }